/* =============== JOSEPH KORVI =================== */

.container{
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button {
    width: 70px;  
    height: 50px;  
    font-size: 20px;    
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

tr, td {
    border: 1px #ccc;
}

.result {
    width: 98%;
    height: 34px;
    font-size: 22px;
    background-color: rgb(206, 206, 206);
    border:1px solid #aaa;
}

.button:hover {
    background-color: rgb(240, 248, 255);
    color: rgb(233, 80, 24);
}